/*
Name : Products
Author: RehanurRaihan 
Distribution: Mit Licences
Design Source: Unknown
Version: 1.0.1
Date: 25/06/2021
Profile: https://rrr2021.netlify.app/
*/

/*Variables*/
$primary: #FF7000;
$secondary: #222754;
$ternery: #7A7D98;
$third: #3C73F1;
$light: #fff;

$shadow : 0 8px 24px rgba(51, 51, 51, 0.061);

/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');
